@model IEnumerable<evaluacion1.Models.Libro>

@{
    ViewBag.Title = "Libros";
}

<h2>Libros</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.First().Autor.Nombre)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
            <td>@Html.DisplayFor(modelItem => item.Autor.Nombre)</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>